.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/storage
/storage/app/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
*.zip
*.pem
*.key
*.p12
